h2 {
  font-family: 'Koulen', cursive;
}
table {
  width: 100%;
}
.action-menu {
  text-align: center;
  button {
    margin: 10px 5px 10px 0;
  }
  button:hover {
    background-color: #2aa2db;
    color: white;
  }
}
.create-owner-button {
  position: relative;
  top: -47px;
  mat-icon {
    position: relative;
    top: -2px;
  }
}

