h2 {
  font-family: 'Koulen', cursive;
  padding-bottom: 10px;
}
.div-container {
  padding-bottom: 10px;
  div {
    font-size: 22px;
    font-family: 'Koulen', cursive;
  }
}
.closeButton {
  position: relative;
  top: -55px;
}
